@model IEnumerable<mERP.Data.Raccess>

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Description</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.Acctar == "Y"))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Accdesc)</td>
                <td><a href="/@item.Accctlr/Index">@item.Accctlr</a></td>
                
            </tr>
        }
    </tbody>
</table>
